
body {
    margin: 0;
    padding: 0;
}

.top-banner {
    font-family: "coranto-2", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    background-color: rgb(42, 128, 85);
    height: 32px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 
}


.header  {
    font-family: "coranto-2", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    margin: 24px;
  }
  
  .logo {
    font-family: "coranto-2-headline", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 89px;
    padding-right: 72px;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 12px;

  }

  .menu {
    text-align: center; /* Align the content of the menu div to the center */
    margin: 40px;
    font-family: "coranto-2", serif;
    font-style: italic;
    font-weight: bold;
    font-size: 21px;
  }
  
  .menu ul {
    display: inline-block; /* Display the list items as inline block elements */
    padding: 0; /* Remove default padding */
  }
  
  .menu img {
    display: none;
    width: 300px; /* Adjust the size as needed */
    height: auto;
  }
  
  .menu li {
    position: relative; /* Needed for absolute positioning of the images */
  }
  
  .menu li:hover img {
    display: block;
    position: absolute;
    top: 100%; /* Position the image below the text */
    left: 300%; /* Align the image horizontally centered */
    transform: translateX(-50%); /* Center the image horizontally */
    z-index: 1; /* Ensure image appears above other content */
  }
  

  
  a {
    font-size: 22px;
    font-family: "coranto-2", serif;
    font-weight: 400;
    font-style: normal;
    background: white;
    color: black;
    padding: 8px;
    /* this removes the line under the links */
    text-decoration: none;

  }


  .cake-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cakes per line */
    gap: 20px; /* Gap between cakes */
  }
  .cake {
    text-align: center;
  }

  .cake img {
    width: 300px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
  }


  .copyright{
    font-family: "coranto-2", serif;
    font-size:21px;
    font-style: normal;
    text-align: center;
    font-weight: normal;
    margin: 200px;
}


.address {
    font-family: "coranto-2", serif;
    font-size:24px;
    font-style: normal;
    text-align: center;
    font-weight: bold;
    margin: 54px;
}

.phone-number {
    font-family: "coranto-2", serif;
    font-size:24px;
    font-style: normal;
    text-align: center;
    font-weight: bold;
    margin: 54px;
}

.opening-hours {
    font-family: "coranto-2", serif;
    font-size:24px;
    font-style: normal;
    text-align: center;
    font-weight: bold;
    margin: 54px;
}

.bottom-image img {
    display: block;
    margin: 0 auto;
}