header {
text-align: right;
letter-spacing: 2px;
word-spacing: 7px;
border-bottom: 1px solid grey;
}

nav {
    display: block;
    margin: 7px;
}

nav a {
    text-decoration: none;
    color: rgb(74, 73, 73);
}

body {
    font-family: Arial, sans-serif;
    color: rgb(74, 73, 73);
    letter-spacing: 2px;
}

#top-container {
    display: block;
    margin-top: 22px;
    margin-left: 42px;
    margin-bottom: 42px;
}

.intro-paragraph {
    margin-bottom: 7px;
}


h1 {
    font-size: 90px;
    color: #3d33ff;
    margin: 0px;

}

.intro-paragraph {
    font-size: 22px;
    margin: 0px;
}

.blue-paragraph {
    font-size: 36px;
    color: #3d33ff;
    font-weight: bold;
    margin: 0px;
}

#middle-container {
    display: block;
    margin-top: 54px;
    margin-left: 42px;
}

.website-list {
    line-height: 4px;
}

#lower-container {
    display: block;
}

#lower-container img {
    max-width: 200px; /* Ensure the image does not exceed the container's width */
    height: auto; /* Allow the image to scale proportionally */
    margin-left: 42px;
}

#copyright {
display: inline-block;
background-color: #3d33ff;
color: white;
margin-top: 54px;
margin-left: 42px;
}

.website-list a{
    text-decoration: none;
    color: inherit;
}