.top-menu {
    display: flex;
    justify-content: space-between; /* Distribute items evenly */
    align-items: center; /* Center items vertically */
    font-family: 'Courier New', Courier, monospace
}

.top-menu a {

    align-self: flex-start;
    margin: 20px;
    text-decoration: none;
    color: inherit;
}

.top-menu p {

    text-align: center; /* Center the text horizontally */
    font-size: 72px;
}

#title {
    font-family: "Micro 5 Charted", sans-serif;
    font-weight: 400;
    font-size: 89px
}



.intro {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    width: 500px;
    margin: auto;
}

.photos-wrapper {
    display: flex;
    justify-content: center; /* Center its contents horizontally */
}

.photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 200px;
    justify-content: center; /* Center the grid horizontally */
    margin-top: 20px;
}




.adress {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    width: 300px;
    margin: auto;
    margin-top: 100px;
}

