.side-bar {
    display: flex;
    margin: 30px;
    margin-bottom: 0px;
    }


.side-bar-menu p {
    display: inline;
    padding: 7px;
    font-size: 20px;
    font-family: "dapifer", serif;
    font-weight: 300;
    font-style: normal;
}

.side-bar-insta p {
    display: inline;
    font-size: 20px;
    font-family: "dapifer", serif;
    font-weight: 300;
    font-style: normal;
    position: absolute;
    margin-top: 0px;
    right: 30px; /* This will position the element to the right */
    
}

#restaurant-name {
    display: block;
    font-size: 54px;
    font-family: "dapifer", serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    margin: -30px;
    padd;

    
}

.top-image-container img {
    display: block;
    width: 250px;
    height: auto;
    margin: auto;
    margin-top: 72px;
}

.top-container-menu-title h2 {
    display: block;
    font-family: "dapifer", serif;
    font-size: 42px;
    font-style: italic;
    text-align: center;
    font-weight: 100;
}

.menu-container {
    display: block;
    margin: 0 500px;
}

.menu-container .title {
    font-family: "dapifer", serif;
    font-size: 35px;
    font-style: normal;
    text-align: center;
    font-weight: bold;
}

.menu-container .plate {
    font-family: "dapifer", serif;
    font-size: 24px;
    font-style: normal;
    text-align: center;
    font-weight: bold;
}

.menu-container .ingredients {
    font-family: "dapifer", serif;
    font-size: 19px;
    font-style: italic;
    text-align: center;
    font-weight: normal;
}

.menu-container .price {
    font-family: "dapifer", serif;
    font-size: 19px;
    font-style: normal;
    text-align: center;
    font-weight: normal;
}